body{
    background-color: white;
    font-family: kaiti;
    font-size: 16px;
    color: #c1de08;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a:link {
    color: #c1de08;
    text-decoration:none;}
.video-bg{
    background-color: white;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    -o-object-fit: cover;
    object-fit: cover;
    background-position: unset;
    z-index: -9999;
    top: 0;
    left: 0px;
    background-repeat: no-repeat;
    overflow: auto;
    overflow-x: hidden;
}

h1 {
    align-content: center;
    line-height: 1%;
    margin-block-start: 3em;
    margin-inline-start: 10em;
    font-size: 4em;
}
img {
    position: fixed;
    top: 10px;
    right: 30px;
    height: 30px;
}
.item1 {
    position: fixed;
    top: 290px;
    right: 62%;
    height: 100px;
}
.span1 {
    position: fixed;
    top: 410px;
    right: 62%;
    height: 100px;
}
.item2 {
    position: fixed;
    top: 290px;
    right: 46%;
    height: 100px;
}
.span2 {
    position: fixed;
    top: 410px;
    right: 46%;
    height: 100px;
}
.item3 {
    position: fixed;
    top: 290px;
    right: 30%;
    height: 100px;
}
.span3 {
    position: fixed;
    top: 410px;
    right: 30%;
    height: 100px;
}
#footer{
    position: fixed;
    top: 93%;
    right: 3%;
    font-size: 25px;
}